body {
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: cornsilk;
}
.gameContainer {
  position: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(219, 189, 105);
}
.restart {
  height: 50px;
  cursor: pointer;
  justify-content: flex-start;
  color: rgb(209, 125, 101);
  border: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  background-color: cornsilk;
}
.hangMan {
  color: rgb(231, 110, 77);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
}
.icon {
  height: 50px;
  cursor: pointer;
  justify-content: flex-start;
  color: rgb(209, 125, 101);
  border: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  background-color: cornsilk;
}
.boardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}
.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}
.square {
  border: 2px solid rgb(219, 189, 105);
  min-width: 60px;
  min-height: 60px;
  font-size: 40px;
  font-weight: bold;
  color: darkorange;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-orange {
  background-color: rgb(245, 133, 59);
  color: rgb(255, 244, 212);
  font-display: inherit;
}

.c-gold {
  background-color: rgb(255, 208, 100);
  color: chocolate;
}
.hangManContainer {
  fill: transparent;
  stroke: chocolate;
  stroke-width: 4px;
  stroke-linecap: round;
}
.bodyPart {
  display: none;
}
.keyboardContainer {
  height: 300px;
}

.keyboardRow {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto 10px;
  touch-action: manipulation;
}
.keyboardRow button {
  font-family: inherit;
  font-weight: bold;
  font-size: medium;
  border: 0;
  padding: 0;
  height: 50px;
  cursor: pointer;
  color: rgb(255, 227, 161);
  flex-grow: 1;
  margin-right: 6px;
  border-radius: 1rem;
  user-select: none;
  animation-name: keyboard;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: inherit;
}

@keyframes keyboard {
  from {
    background-color: rgb(251, 109, 109);
  }
  to {
    background-color: rgb(255, 177, 60);
  }
}

.howToContainer {
  animation-name: openPage;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: inherit;
  display: grid;
  justify-items: center;
  align-items: center;
}

.openPage {
  align-items: center;
  justify-items: center;
}

@keyframes openPage {
  from {
    color: rgb(255, 69, 159);
  }
  to {
    color: rgb(255, 171, 60);
  }
}

.howToBtn {
  border: none;
  border-radius: 5rem;
  height: 50px;
  width: 250px;
  font-size: 25px;
  font-family: inherit;
  background-color: chocolate;
  color: rgb(255, 227, 161);
  margin: 10px;
  cursor: pointer;
  animation-name: btn;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: inherit;
}

@keyframes btn {
  from {
    background-color: rgb(255, 69, 159);
  }
  to {
    background-color: rgb(255, 171, 60);
  }
}

.resultShow {
  height: 300px;
  width: 300px;
}

.howTo {
  height: 800px;
  width: 800px;
  border-radius: 3rem;
  border-style: none;
  align-items: center;
  display: grid;
  justify-items: center;
  align-items: center;
}

.howToDetail {
  width: 750px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.playBtn {
  border-style: none;
  border-radius: 3rem;
  height: 50px;
  width: 250px;
  cursor: pointer;
  font-size: 25px;
  color: rgb(255, 227, 161);
  margin: 10px;
  display: grid;
  justify-items: center;
  align-items: center;
  animation-name: btn;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: inherit;
}
